body {
  background-image: url(back.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  background-size: cover;
  margin: 50px 0;
}

h1 {
  margin: auto;
  width: max-content;
}

#hero-title {
  font-family: 'Bungee Outline', monospace;
  font-size: 4em;
  color: white;
}

#title {
  padding-top: 35px;
  color: rgba(255, 255, 255, 0.747);
  font-family: 'VT323', monospace;
}

section {
  border: 1px solid rgba(255, 217, 0, 0);
  margin: 5px auto 20px auto;
  height: 60px;
  width: 330px;
  position: relative;
}
#a{
  border: 1px solid rgba(255, 0, 0, 0);
  display: inline-block;
  width: 140px;
  position: absolute;
  top: 0;
  left: 0;
}
#b {
  border: 1px solid rgba(0, 195, 255, 0);
  width: 190px;
  position: absolute;
  top: 0;
  right: 0;
}
input {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 30px 4px 4px 30px;
  color: white;
  font-family: 'VT323', monospace;
  font-size: 26px;
  height: 44px;
  padding-left: 20px;
  padding-right: 0px;
  max-width: 45px;
  transition: 0.1s;
}

input:hover,
input:focus {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.486), inset 0 0 10px white;
  outline: none;
}

table {
  box-shadow: 0 0 200px black;
}

.pixel:hover {
  box-shadow: inset 0 0 10px rgb(139, 139, 139);
}

button {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 4px;
  color: white;
  font-family: 'VT323', monospace;
  font-size: 20px;
  height: 50px;
  line-height: 15px;
  margin-left: 20px;
  padding-left: 15px;
  padding-right: 15px;
  position: absolute;
  top: 0;
  transition: 0.1s;
}

button:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.486), inset 0 0 10px white;
}
button:active {
  box-shadow: 0 0 13px white, inset 0 0 10px white;
}

#generate-board {
  right: 0;
}

#random {
  left: 0;
}

#clear-board {
  border-radius: 4px 30px 30px 4px;
  right: 0;
}

#clear-board:hover {
  box-shadow: 0 0 10px rgba(255, 0, 106, 0.753), inset 0 0 18px rgba(255, 0, 106, 0.836);
}
#clear-board:active {
  box-shadow: 0 0 15px rgb(253, 51, 135), inset 0 0 18px rgb(253, 38, 128)
}

.color {
  border: 1px solid black;
  display: inline-block;
  height: 40px;
  width: 40px;
  transition: 0.1s linear;
}

.color:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.432);
}

#color1 {
  background-color: black;
}

#color2 {
  background-color: gray;
}

#color3 {
  background-color: darkgray;
}
 
#color4 {
  background-color: lightgray;
}

#color5 {
  background-color: whitesmoke;
}

#color-palette {
  margin: 20px auto 0px auto;
  height: 80px;
  width: max-content;
}

#color-palette::selection {
  background-color: none;
}

#pixel-board {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

.pixel {
  background-color: white;
  border: 1px solid black;
  height: 40px;
  width: 40px;
}

.selected {
  box-shadow: 0 0 1.7em white;
  margin-left: 20px;
  margin-right: 20px;
  padding: 5px;
}
